<div class="dark-slides">
  <ion-slides class="dark-slides" pager="true" [options]="slideOpts">
    <ion-slide>
      <a href="https://altiromastore.com"><img src="../../assets/img/s1.jpg"></a>
    </ion-slide>
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/dresses/swimwear/')">
        <img src="../../assets/img/s1.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/bottom/')">
        <img src="../../assets/img/s2.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/bottom/pants/')">
        <img src="../../assets/img/s3.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/dresses/rompers/')">
        <img src="../../assets/img/s4.jpg">
      </a>
    </ion-slide>
  </ion-slides>
  </div>