<div class="dark-slides">
  <ion-slides class="dark-slides" pager="true" [options]="slideOpts">
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/dresses/')">
        <img src="../../assets/img/b1.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/bottom/pants/')">
        <img src="../../assets/img/b2.jpg">
      </a>
    </ion-slide>
    <ion-slide>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/dresses/jumpsuits/')">
        <img src="../../assets/img/b3.jpg">
      </a>
    </ion-slide>
  </ion-slides>
  </div>