ion-content {
  padding: 10px 60px;
}
div.login-center {
  margin: 20px auto 0 auto;
  padding: 20px 40px;
}
img#logo {
  margin: 0 auto;
  display: block;
  width: 100px;
}
a {
  text-align: center;
  padding: 10px 0;
  display: block;
}
ion-grid,
a {
  margin-top: 0;
}
    img.img {
        margin: 30px auto 50px auto;
        display: block;
        width: 20%
    }
    ion-icon {
        font-size: 30px;
    }
    h3#social {
        padding: 0 0 0 10px;
    }
      
        p {
          font-size: 0.8em;
          color: #d2d2d2;
        }
      
        ion-label {
          margin-left: 5px;
        }
      
        ion-input {
          padding: 5px;
        }
      
        .invalid {
          border-bottom: 1px solid #ff6153;
        }
      
        .error-message {
          min-height: 2.2rem;
          p {
            font-size: 60%;
          }
          ion-label {
            margin: 2px 0;
          }
          .item-inner {
            border-bottom: 0 !important;
          }
        }
  