<ion-grid id="dark-menu">
  <ion-row align-items-center>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/two-pieces/')">
        <div class='home-big-menu'>
          Two Pieces
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/jumpsuits/')">
        <div class='home-big-menu'>
          Jumpsuits
        </div>
      </a>
    </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col width-50>
      <a (click)="websiteModal('/https://www.altiromastore.com/product-category/bottom/rompers/')">
        <div class='home-big-menu-red'>
          Rompers
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/dresses/')">
        <div class='home-big-menu-red'>
          Dresses
        </div>
      </a>
    </ion-col>
  </ion-row>
  
  <ion-row align-items-center>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/swimwear/')">
        <div class='home-big-menu'>
          Swimwear
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/top/')">
        <div class='home-big-menu'>
          Tops
        </div>
      </a>
    </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/bottom/')">
        <div class='home-big-menu-red'>
          Bottom
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/handbags/')">
        <div class='home-big-menu-red'>
          Bags
        </div>
      </a>
    </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/shop-all/')">
        <div class='home-big-menu'>
          Shop all
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a (click)="websiteModal('https://www.altiromastore.com/product-category/shoes/')">
        <div class='home-big-menu'>
          Shoes
        </div>
      </a>
    </ion-col>
  </ion-row>

</ion-grid>