ion-content {
    padding: 10px 60px;
  }
  div.signup-center {
    margin: 20px auto 0 auto;
    padding: 20px 40px;
  }
  img#logo {
    margin: 0 auto;
    display: block;
    width: 100px;
  }
  a {
    text-align: center;
    padding: 10px 0;
    display: block;
  }