<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AltiRoma Store
    </ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segmentShowFirst" scrollable>
    <ion-segment-button value="home">
      <ion-label>HOME</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="openPage('store')" value="store">
      <ion-label>STORE</ion-label>
    </ion-segment-button>
    <ion-segment-button value="selfie">
      <ion-label>SELFIE</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">


  
  <div [ngSwitch]="segmentShowFirst">
    <ion-list *ngSwitchCase="'home'">
      <app-slider-home-top></app-slider-home-top>
      <app-dark-menu-home></app-dark-menu-home>
      <img src="../../assets/img/shop.gif" alt="">
      <app-middle-slider></app-middle-slider>
    </ion-list>
    <ion-list *ngSwitchCase="'store'" padding>
      <br><br><br><br>
      <ion-button (click)="openURL()" expand="block">Go To Store</ion-button>
    </ion-list>
    <ion-list *ngSwitchCase="'selfie'" padding>
      <br><br><br><br>
      <ion-button expand="block">Coming Soon</ion-button>
    </ion-list>
  </div>

</ion-content>
